# Python compiled files
__pycache__/
*.pyc

# Temporary files
*.tmp
*.log
*.o
*.a
*.11
*.12
*.9
*.0
*.1

# Large data files
*.csv
*.tsv
*.faa
*.fasta
*.db
bacteriaDB/venv/
bacteriaDB/ncbi_dataset/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor backup files
*.save




# macOS metadata
.DS_Store
